// Global app styles
html {
  font-size: 12.4px;
  font-family: 'ballinger-mono', monospace;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #app {
    display: flex;
    flex-direction: column;
  }

  #main {
    flex-grow: 1;
    min-height: 95vh;
  }
}

*:focus {
  outline: none !important;
}

::selection {
  color: #ffffff;
  background: #250cff;
}

// Typography
a,
p,
div,
span,
button {
  text-transform: uppercase;
}
