@import url('https://api.fontshare.com/css?f[]=switzer@350&display=swap');

:root {
  /* sanity variables */
  --brand-primary: #000000;
  --brand-primary--inverted: #ffffff;
  --brand-secondary: #000000;
  --brand-secondary--inverted: #ffffff;

  --main-navigation-color: var(--brand-primary);
  --main-navigation-color--inverted: var(--brand-primary--inverted);

  /* custom variables */
  --pt-bg: #ffffff;
  --pt-text: #000000;

  --button-bg: #000000;
  --button-text: #ffffff;

  --button-bg-active: rgba(0, 0, 0, 0.15);
  --button-text-active: #000000;

  --font-family-sans-serif: 'Switzer';
  --font-size-base: 20px;
}

/* theme UI overrides */
[data-scheme='dark'] [data-ui='CollapseMenu'] [data-selected] > span {
  background: var(--brand-primary--inverted) !important;
}

[data-scheme='dark'] [data-ui='CollapseMenu'] [data-selected] [data-ui='Text'] {
  color: var(--brand-primary) !important;
}

[data-scheme='dark']
  [data-ui='CollapseMenu']
  [data-ui='CollapseMenuButton']:active {
  background: hsla(0, 0%, 100%, 25%) !important;
}

[data-scheme='dark']
  [data-ui='CollapseMenu']
  [data-ui='CollapseMenuButton']:active
  [data-ui='Text'] {
  color: var(--brand-primary--inverted) !important;
}

[data-ui='PaneItem'][data-pressed],
[data-ui='PaneItem'][data-selected],
[data-ui='Button'][data-pressed],
[data-ui='Button'][data-selected],
[data-ui='Tab'][data-selected] {
  background: var(--button-bg) !important;
  border-color: var(--button-bg) !important;
}

[data-ui='PaneItem']:active,
[data-ui='Button']:active,
[data-ui='Tab']:active {
  background: var(--button-bg-active) !important;
}

[data-ui='PaneItem'][data-pressed] [data-ui='Text'],
[data-ui='PaneItem'][data-pressed] [data-ui='Flex'],
[data-ui='Button'][data-pressed] [data-ui='Text'],
[data-ui='Button'][data-pressed] [data-ui='Flex'],
[data-ui='Button'][data-selected] [data-ui='Text'],
[data-ui='Button'][data-selected] [data-ui='Flex'],
[data-ui='Tab'][data-selected] [data-ui='Text'],
[data-ui='Tab'][data-selected] [data-ui='Flex'] {
  color: var(--button-text) !important;
}

[data-ui='PaneItem']:active [data-ui='Text'],
[data-ui='PaneItem']:active [data-ui='Flex'],
[data-ui='Button']:active [data-ui='Text'],
[data-ui='Button']:active [data-ui='Flex'],
[data-ui='Tab']:active [data-ui='Text'],
[data-ui='Tab']:active [data-ui='Flex'] {
  color: var(--button-text-active) !important;
}

/* more natural cursors for studio elements */
button:not([disabled]),
[data-ui='Button']:not([disabled]),
[data-ui='Button']:not([disabled]) input[type='file'] {
  cursor: pointer !important;
}

[data-pane-collapsed] * {
  cursor: e-resize !important;
}
